* text=auto !eol
L10N/sl_SI.po -text
MSIBuild/Makefile -text
MSIBuild/build_all.bat -text
MSIBuild/clean_all.bat -text
MSICALib.cpp -text
MSICALib.h -text
MSICALib.vcxproj -text svneol=unset#text/xml
MSICALib.vcxproj.filters -text svneol=unset#text/xml
OpCert.cpp -text
OpFile.cpp -text
OpReg.cpp -text
OpSvc.cpp -text
OpTS.cpp -text
OpWLAN.cpp -text
stdafx.cpp -text
stdafx.h -text
